[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/llvm"]
	path = external/llvm
	url = https://github.com/llvm/llvm-project.git
