[submodule "external/llvm"]
	path = external/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
